# Copy this file, rename it to .env, and fill in your passwords
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
PGADMIN_EMAIL=
PGADMIN_PASSWORD=
CERT_PASSWORD=
USERPROFILE_PATH_WIN=C:\Users\YourUsername\.aspnet\https